<div class="row panel-interactions-content">
  <div class="col-12">
    <div class="interactions">
      <div class="row">
        <div class="col-2 icon icon-new offset-9">
          <img src="assets/icons/folder.svg" class="img-fluid" alt="">
          <p>New</p>
        </div>
        <div class="col-1 icon icon-edit">
          <img src="assets/icons/pencil-striped-symbol-for-interface-edit-buttons.svg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row panel-main-content">
  <div class="col-12 user-info-content">
    <div class="row user-header-details">
      <div class="col-2 user-details-image">
        <img [src]="contact.picture" class="img-fluid" alt="{{ contact.name }}">
      </div>
      <div class="col-1 user-details-favorite">
        <img src="assets/icons/star.svg" class="img-fluid" alt="">
      </div>
      <div class="col-9 user-details-name">
        {{ contact.name }}
      </div>
    </div>
    <div class="row user-details-content">
      <div class="col-12">
        <div class="row user-details-field">
          <div class="col-2 user-detail-prefix">
            Phone
          </div>
          <div class="col-8 user-detail-details">
            {{ contact.phone }}
          </div>
          <div class="col-2 user-detail-suffix">
            Home
          </div>
        </div>
        <div class="row user-details-field">
          <div class="col-2 user-detail-prefix">
            Email
          </div>
          <div class="col-8 user-detail-details">
            {{ contact.email }}
          </div>
          <div class="col-2 user-detail-suffix-withicon">
            <span class="user-details-sendmail-text">Home</span>
            <span class="user-details-sendmail-icon">
              <img src="assets/icons/email.svg" alt="" class="img-fluid">
            </span>
          </div>
        </div>
        <div class="row user-details-field">
          <div class="col-2 user-detail-prefix">
            Group
          </div>
          <div class="col-8 user-detail-details">
            {{ contact.company }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
