
.contact-summary {
  font-size: .7em;
  opacity: .6;
}

.contact-list {
  max-height: 550px;
  overflow-y: scroll;
}

.search-contacts-row {
  margin: 10px 0;
  .input-group {
    border-bottom: 2px solid #ccc;
    width: 80%;
    .search-field {
      border: none;
      background: none;
      width: 70%;
      padding: 10px 5px;
      &:focus {
        border: none;
        outline: none;
      }
    }

    .input-group-prefix {
      background: none;
      border: none;
      img {
        max-height: 25px;
      }
    }
  }
}


mat-form-field {
  width: 100%;
  .prefix {
    img {
      max-height: 20px;
    }
  }
}

.hidden {
  display: none;
}

.list-header {
  font-weight: bold;
  background: #E6E6E6;
}

.elements {
  &:not(:first-child) {
    display: none;
  }
}

.elements > div:not(:first-child) {
  display: none;
}




