<!-- Every keystroke filtering the Contact List for the result  -->
<div class="row">
  <div class="col-10 offset-1">
    <form class="search-form" [formGroup]="stateForm" novalidate>
      <mat-form-field class="search-field">
        <span matPrefix class="prefix" style="margin: 0 10px 10px 0;">
          <img src="assets/icons/searching-magnifying-glass.svg" class="img-fluid" alt="Search">
        </span>
        <input [(ngModel)]="queryString" type="tel" matInput placeholder="Search Contacts" formControlName="search">
      </mat-form-field>
    </form>
  </div>
</div>
<hr>
<div class="contact-summary">
  {{ contactCount }} contacts
</div>

<!-- Getting all alphaber characters and fill the lists where are contacts found. Hiding the empty
  headers in CSS-->
<ul id="contactRow" class="contact-list list-unstyled no-gutters" [@listAnimation]="contacts">
  <li
    *ngFor="let letter of alphabet | unique"
    >
    <div class="elements">
      <ng-container
        *ngFor="let contact of contacts | searchFilter: queryString">
        <div class="list-header" *ngIf="letter === contact.name.charAt(0)">
          <div class="col-10 offset-2">
            {{ letter | unique }}
          </div>
        </div>
        <app-contact-list-item
          *ngIf="contact.name.charAt(0) === letter"
          (click)="select(contact)" [ngClass]="{active: isActive(contact)}"
          [contact]="contact"
          (contactSelected)="onContactSelected(contact)"
          class="single-contact-item-component"
        >
        </app-contact-list-item>
      </ng-container>
    </div>
  </li>
</ul>
