<app-contact-search></app-contact-search>
3 contacts
<ul class="contact-list list-unstyled no-gutters">
  <li class="list-header">
    <div class="row">
      <div class="col-10 offset-2">
        U
      </div>
    </div>
  </li>
  <li class="list-item">
    <app-contact-list-item></app-contact-list-item>
  </li>
  <li class="list-item">
    <app-contact-list-item></app-contact-list-item>
  </li>
  <li class="list-item">
    <app-contact-list-item></app-contact-list-item>
  </li>
  <li class="list-header">
    <div class="row">
      <div class="col-10 offset-2">
        K
      </div>
    </div>
  </li>
  <li class="list-item">
    <app-contact-list-item></app-contact-list-item>
  </li>
</ul>
