<div class="row panel-interactions-content">
  <div class="col-12">
    <div class="interactions">
      <div class="row">
        <div class="interaction-block col-6 col-xs-2 col-lg-3 col-md-4 col-sm-6 icon icon-new offset-xs-9 offset-lg-7 offset-md-5">
          <a
            (click)="openDialog()"
            matTooltip="Create a new Contact!"
            style="cursor:pointer;"
          >
            <img src="assets/icons/folder.svg" class="img-fluid" alt="">
            <p>New</p>
          </a>
        </div>

          <div class="interaction-block col-6 col-xs-1 col-lg-2 col-md-3 col-sm-6 icon icon-edit">
            <a (click)="editOnClick()"
               matTooltip="Edit Contact!"
               style="cursor:pointer;"

            >
              <img src="assets/icons/pencil-striped-symbol-for-interface-edit-buttons.svg" class="img-fluid" alt="">
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
