<div class="row panel-interactions-content">
  <div class="col-12">
    <div class="interactions">
      <div class="row">
        <div class="col-2 icon icon-new offset-9">
          <a
            href="#"
            (click)="openDialog()"

          >
            <img src="assets/icons/folder.svg" class="img-fluid" alt="">
            <p>New</p>
          </a>
        </div>
        <div class="col-1 icon icon-edit">
          <a href="#">
            <img src="assets/icons/pencil-striped-symbol-for-interface-edit-buttons.svg" class="img-fluid" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
