<main>
  <div class="container">
    <div class="row no-gutters">
      <div class="col-5">
        <app-contact-list
          (selectedContact)="clickedContact = $event"
        ></app-contact-list>
      </div>
      <div class="col-7">

        <app-contact-panel
          *ngIf="clickedContact; else infoText"
          [contact]="clickedContact"
        ></app-contact-panel>

        <ng-template #infoText>
          <div class="nothing-selected">
            <p>
              Please select a contact!
            </p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</main>
