$selected: #A8C7F5;

img {
  max-height: 50px;
}

.contact-list-item-row {
  font-size: 1em;
  min-height: 50px;
  [class*="col-"] {
    min-height: 0;
  }
  .contact-name {
    display: flex;
    align-items: center;
  }
  .contact-image {
    padding: 0 15px 0 0;
  }
  &:hover {
    background: lighten( $selected, 10% );
  }
}

a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}
