<!--<div class="row mx-auto">-->
  <!--<div class="col-12">-->
    <!--<input type="search" class="search-field" id="searchContact" placeholder="Find contacts" />-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row search-contacts-row mx-auto">-->
  <!--<div class="input-group mx-auto">-->
    <!--<div class="input-group-prepend">-->
      <!--<span class="input-group-text input-group-prefix">-->
        <!--<img src="assets/icons/searching-magnifying-glass.svg" class="img-fluid" alt="Search">-->
      <!--</span>-->
    <!--</div>-->
    <!--<input type="text" class="form-control search-field" placeholder="Find contacts" id="searchContact" aria-label="Username" aria-describedby="basic-addon1">-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <div class="col-10 offset-1">
    <form class="search-form" [formGroup]="stateForm" novalidate>
      <mat-form-field class="search-field">
        <span matPrefix class="prefix" style="margin: 0 10px 10px 0;">
          <img src="assets/icons/searching-magnifying-glass.svg" class="img-fluid" alt="Search">
        </span>
        <input [(ngModel)]="searchText" type="tel" matInput placeholder="Search Contacts" formControlName="search">
      </mat-form-field>
    </form>
  </div>
</div>
