/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'scss/variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "~bootstrap/scss/reboot";

body {
  background: #efefef;
}

p {
  margin: 0;
}

main {
  padding: 15px 0;
}

hr {
  background: #8D8C94;
  height: 2px;
  margin: 0;
}
